<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.railway.firoz.railwaytms">

    <application
        android:allowBackup="true"
        android:icon="@drawable/trainiconblue"
        android:label="@string/app_name"
        android:roundIcon="@drawable/trainiconblue"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loggedin_Activity2" />
        <activity android:name=".Seats_Activity3" />
        <activity android:name=".GetTicket_Activity6" />
        <activity android:name=".print_acivity4"></activity>
    </application>

</manifest>